pyopengl==3.1.0
comtypes==1.1.4
protobuf==3.5.2.post1
jupyter-client==5.2.2
backports.functools-lru-cache==1.4
et-xmlfile==1.0.1
backports.ssl-match-hostname==3.5.0.1
dotenv==0.0.5
win-inet-pton==1.0.1
corenlp-protobuf==3.8.0
jupyterlab-launcher==0.10.2
stanford-corenlp==3.8.0
wincertstore==0.2
breadability==0.1.20
ruamel.yaml==0.15.35
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
pywinpty==0.5
sumy==0.7.0
functools32==3.2.3.post2
stanfordcorenlp==3.8.0.1
python-dotenv==0.10.1
jupyter-core==4.4.0
backports-abc==0.5
ipython-genutils==0.2.0
jupyter-console==5.2.0
win-unicode-console==0.5
tables==3.4.2
prompt-toolkit==1.0.15
ruamel.ordereddict==0.4.13